.vs
.Trees/Project1/.vs
.Trees/Project1/Debug
.Trees/Project1/Project1.sln
.Trees/Project1/Project1/Debug
.Trees/Project1/Project1/Project1.vcxproj
.Trees/Project1/Project1/Project1.vcxproj.filters
.Trees/Project1/Project1/Project1.vcxproj.user